# **DataJam 2020**

Integrantes:

Tatiana Rueda / Benito Rodriguez / Stephania Sastre / Javier Carrillo / Aleidali Macias

# **Librerías**

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns ; sns.set()
import matplotlib.pyplot as plt

#! pip install dfply
from dfply import *

# **Pegado de Bases ENVIPE (Inegi)**

In [2]:
#Bases con información de las entrevistas INEGI 2019.

Vic1=pd.read_csv(r'C:\Documents\DATA_JAM\MEXICO\conjunto_de_datos_TPer_Vic1_ENVIPE_2019\conjunto_de_datos\conjunto_de_datos_TPer_Vic1_ENVIPE_2019.csv')
Vic2=pd.read_csv(r'C:\Users\Documents\DATA_JAM\MEXICO\conjunto_de_datos_TPer_Vic2_ENVIPE_2019\conjunto_de_datos\conjunto_de_datos_TPer_Vic2_ENVIPE_2019.csv')
THogar=pd.read_csv(r'C:\Users\Documents\DATA_JAM\MEXICO\conjunto_de_datos_THogar_ENVIPE_2019\conjunto_de_datos\conjunto_de_datos_THogar_ENVIPE_2019.csv')
TMod=pd.read_csv(r'C:\Users\Documents\DATA_JAM\MEXICO\conjunto_de_datos_TMod_Vic_ENVIPE_2019\conjunto_de_datos\conjunto_de_datos_TMod_Vic_ENVIPE_2019.csv')
TSDem=pd.read_csv(r'C:\Users\Documents\DATA_JAM\MEXICO\conjunto_de_datos_TSDem_ENVIPE_2019\conjunto_de_datos\conjunto_de_datos_TSDem_ENVIPE_2019.csv')
TVivienda=pd.read_csv(r'C:\Users\Documents\DATA_JAM\MEXICO\conjunto_de_datos_TVivienda_ENVIPE_2019\conjunto_de_datos\conjunto_de_datos_TVivienda_ENVIPE_2019.csv')

Vic1=Vic1.replace({r'\r': ''}, regex=True)
Vic2=Vic2.replace({r'\r': ''}, regex=True)
THogar=THogar.replace({r'\r': ''}, regex=True)
TMod=TMod.replace({r'\r': ''}, regex=True)
TSDem=TSDem.replace({r'\r': ''}, regex=True)
TVivienda=TVivienda.replace({r'\r': ''}, regex=True)

In [4]:
print(Vic1.shape)
print(Vic2.shape)
print(THogar.shape)
print(TMod.shape)
print(TSDem.shape)
print(TVivienda.shape)

(91896, 186)
(91896, 149)
(92049, 18)
(46356, 129)
(325381, 26)
(89920, 20)

## **Pegado VIC1 y VIC2**

Observaciones:

Una vivienda puede tener varios hogares / 
En cada hogar se entrevista a una persona / 
Cada renglón corresponde a una persona

In [5]:
Vic2.columns

Index(['ID_VIV', 'ID_HOG', 'ID_PER', 'UPM', 'VIV_SEL', 'HOGAR', 'RESUL_H',
       'R_SEL', 'SEXO', 'EDAD',
       ...
       'AP7_3_15', 'AP7_4_15', 'FAC_HOG', 'FAC_ELE', 'FAC_HOG_AM',
       'FAC_ELE_AM', 'DOMINIO', 'ESTRATO', 'EST_DIS', 'UPM_DIS'],
      dtype='object', length=149)

In [6]:
Vic1_cols=['ID_VIV', 'ID_HOG', 'ID_PER', 'UPM', 'VIV_SEL', 'HOGAR', 'RESUL_H',
       'R_SEL', 'SEXO', 'EDAD', 'AREAM', 'CVE_ENT', 'NOM_ENT', 'CVE_MUN', 'NOM_MUN',  #datos generales
       'AP4_3_1' , 'AP4_3_2' , 'AP4_3_3' , 'AP4_4_01' , 'AP4_4_02' , 'AP4_4_03' ,     #Preguntas de interés
        'AP4_4_09' , 'AP4_5_08' , 'AP4_5_12' , 'AP4_5_13' , 'AP4_5_14' , 'AP4_5_15' ,
        'AP4_6_3' , 'AP4_8_1' , 'AP4_8_2' , 'AP4_8_4' , 'AP4_8_5' ,  'AP4_10_01' ,  
        'AP4_10_02' ,'AP4_10_05' ,'AP4_10_09' ,'ESTRATO','DOMINIO']
Vic2_cols=['ID_VIV', 'ID_HOG', 'ID_PER',                                              #datos generales
          'AP6_10_1' ,'AP6_12_1' ,'AP6_15_1' , 'AP6_22_1' ,'AP7_3_14']                #Preguntas de interés

In [7]:
VicTot=pd.merge(Vic1[Vic1_cols],Vic2[Vic2_cols],how='left',left_on=['ID_VIV',	'ID_HOG',	'ID_PER'],right_on=['ID_VIV',	'ID_HOG',	'ID_PER'])
VicTot.shape

(91896, 43)

In [24]:
pop_edo = VicTot.groupby("NOM_ENT").size()
pop_edo = pop_edo.reset_index() #poblacion total entrevistada por estado

In [9]:
VicTot.head(1)

,ID_VIV,ID_HOG,ID_PER,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,SEXO,EDAD,...,AP4_10_02,AP4_10_05,AP4_10_09,ESTRATO,DOMINIO,AP6_10_1,AP6_12_1,AP6_15_1,AP6_22_1,AP7_3_14
0,100013.01,0100013.01.01,0100013.01.01.01,100013,1,1,B,1,2,53,...,3,3,2,3,U,2,NA,2,NA,2

## **Pegado con THogar**

In [10]:
THogar.head(2)
# De esta base lo único importante es FAC_HOG(las demas variables ya estan en VicTot), revisar si es el factor para representabilidad nacional.

,ID_VIV,ID_HOG,UPM,VIV_SEL,HOGAR,RESUL_H,N_INF,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,TOT_PER,FAC_HOG,FAC_HOG_AM,DOMINIO,EST_DIS,UPM_DIS
0,100013.01,0100013.01.01,100013,1,1,B,01,01,1,Aguascalientes,1,Aguascalientes,1,184,000184,U,1,1
1,100013.02,0100013.02.01,100013,2,1,A,01,02,1,Aguascalientes,1,Aguascalientes,5,184,000184,U,1,1

## **Pegado con TMod (Módulo de Victimización)**

Observaciones:

La base contiene sólo personas que han sufrido de algún delito.

Una persona puede haber sufrido varios delitos.

In [11]:
TMod.columns[0:20]

Index(['ID_VIV', 'ID_HOG', 'ID_PER', 'ID_DEL', 'UPM', 'VIV_SEL', 'HOGAR',
       'ND_TIPO', 'TD_TIPO', 'BPCOD', 'R_SEL', 'RESUL_H', 'SEXO', 'EDAD',
       'AREAM_OCU', 'BP1_1', 'BP1_2C', 'BP1_3C', 'BP1_4', 'BP1_5'],
      dtype='object')

In [12]:
#hago prueba de duumies con bp1_5, falta hacer las demas
TMod_cols_base=['ID_VIV','ID_HOG',	'ID_PER',	'ID_DEL','BPCOD']
TMod_cols=['ID_VIV','ID_HOG',	'ID_PER',	'ID_DEL','BPCOD',       #datos generales de la persona y el delito
           'BP1_5','BP1_1','BP1_4','BP1_8' , 'BP1_9','BP7_1','BP1_10_1' , 'BP1_10_2']           #variables de interes

In [13]:
#Filtro por tipo de delito 13 y 14
TMod_Filter=TMod[(TMod['BPCOD']==13) | (TMod['BPCOD']==14)][TMod_cols]

In [14]:
TMod_Filter.groupby(['ID_PER']).agg(['count']) #hay 766 personas únicas

,ID_VIV,ID_HOG,ID_DEL,BPCOD,BP1_5,BP1_1,BP1_4,BP1_8,BP1_9,BP7_1,BP1_10_1,BP1_10_2
,count,count,count,count,count,count,count,count,count,count,count,count
ID_PER,,,,,,,,,,,,
0100154.05.01.02,1,1,1,1,1,1,1,1,1,1,1,1
0100186.05.01.11,1,1,1,1,1,1,1,1,1,1,1,1
0100211.05.02.01,1,1,1,1,1,1,1,1,1,1,1,1
0100215.04.01.02,1,1,1,1,1,1,1,1,1,1,1,1
0100220.02.01.03,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
3200916.02.01.03,1,1,1,1,1,1,1,1,1,1,1,1
3200982.05.01.02,1,1,1,1,1,1,1,1,1,1,1,1
3201079.02.02.01,3,3,3,3,3,3,3,3,3,3,3,3
3201613.10.01.03,1,1,1,1,1,1,1,1,1,1,1,1
3201929.01.01.02,1,1,1,1,1,1,1,1,1,1,1,1

In [15]:
print(TMod_Filter.shape)
TMod_Filter.head(5)

(1089, 13)

,ID_VIV,ID_HOG,ID_PER,ID_DEL,BPCOD,BP1_5,BP1_1,BP1_4,BP1_8,BP1_9,BP7_1,BP1_10_1,BP1_10_2
42,100397.04,0100397.04.01,0100397.04.01.01,0100397.04.01.01.13.1,13,1,9,3,2,1,2,1,0
56,100565.03,0100565.03.01,0100565.03.01.01,0100565.03.01.01.13.1,13,5,1,3,2,1,3,1,0
138,100186.05,0100186.05.01,0100186.05.01.11,0100186.05.01.11.13.1,13,1,7,1,2,1,3,1,0
222,100215.04,0100215.04.01,0100215.04.01.02,0100215.04.01.02.13.1,13,1,8,2,2,1,2,1,0
352,101009.01,0101009.01.01,0101009.01.01.01,0101009.01.01.01.13.1,13,1,5,2,2,2,2,1,0

#### **CREANDO DUMMIES (PARA CADA CATEGORIA)**

In [16]:
base=TMod_Filter[TMod_cols_base]
base

dum0=pd.get_dummies(TMod_Filter['BPCOD'],dummy_na=True,prefix='Tpo_delito')
dum1=pd.get_dummies(TMod_Filter['BP1_1'],dummy_na=True,prefix='BP1_1')
dum2=pd.get_dummies(TMod_Filter['BP1_4'],dummy_na=True,prefix='BP1_4')
dum3=pd.get_dummies(TMod_Filter['BP1_5'],dummy_na=True,prefix='BP1_5')
dum4=pd.get_dummies(TMod_Filter['BP1_8'],dummy_na=True,prefix='BP1_8')
dum5=pd.get_dummies(TMod_Filter['BP1_9'],dummy_na=True,prefix='BP1_9')
dum6=pd.get_dummies(TMod_Filter['BP7_1'],dummy_na=True,prefix='BP7_1')

test=pd.concat([base,dum0,dum1,dum2,dum3,dum4,dum5,dum6],1)

TMod_VF=test.groupby(['ID_VIV','ID_HOG','ID_PER']).agg('sum')
TMod_VF_2=TMod_VF.reset_index()
TMod_VF_2.head(5)

,ID_VIV,ID_HOG,ID_PER,BPCOD,Tpo_delito_13.0,Tpo_delito_14.0,Tpo_delito_nan,BP1_1_1.0,BP1_1_2.0,BP1_1_3.0,...,BP1_9_9,BP1_9_nan,BP7_1_1,BP7_1_2,BP7_1_3,BP7_1_4,BP7_1_5,BP7_1_9,BP7_1_NA,BP7_1_nan
0,100154.05,0100154.05.01,0100154.05.01.02,13,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,100186.05,0100186.05.01,0100186.05.01.11,13,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,100211.05,0100211.05.02,0100211.05.02.01,13,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
3,100215.04,0100215.04.01,0100215.04.01.02,13,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,100220.02,0100220.02.01,0100220.02.01.03,26,2,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0

In [17]:
#'ID_VIV','ID_HOG','ID_PER',
names_cols=['ID_VIV',	'ID_HOG',	'ID_PER','BPCOD_Tipo_delito','Tpo_delito_13.0','Tpo_delito_14.0','Tpo_delito_nan',
            'BP1_delito_Ene','BP1_delito_Feb','BP1_delito_mar','BP1_delito_abr','BP1_delito_may','BP1_delito_jun','BP1_delito_Jul',
            'BP1_delito_Ago', 'BP1_delito_sep','BP1_delito_oct','BP1_delito_nov','BP1_delito_dic','BP1_delito_no_sabe','BP1_delito_nan',
            'BP1_4_mañana_6_12_am','BP1_4_tarde_12_18', 'BP1_4_noche_18_24','BP1_4_madrugada_01_06','BP1_4_No_sabe_no_responde','BP1_4_No_sabe_no_responde_NAN',
            'BP1_5_calle','BP1_5_casa','BP1_5_trabajo','BP1_5_negocio_establecimiento', 'BP1_5_lugar_publico', 'BP1_5_trans_pub','BP1_5_carretera',
            'BP1_5_otro','BP1_5_no_sabe','BP1_5_nan',
            "BP1_8_acompaniada_si",'BP1_8_acompaniada_no','BP1_8_9','BP1_8_nan',
            "BP1_9_1_num_delin_1","BP1_9_1_num_delin_2","BP1_9_1_num_delin_3","BP1_9_1_num_delin_4","BP1_9_1_num_delin_5","BP1_9_1_num_delin_6",
            "BP1_9_1_num_delin_9","BP1_9_1_num_delin_9_nan",
            'BP7_1_tpo_ofensa_int_viola',"BP7_1_tpo_ofen_hostig", "BP7_1_tpo_ofen_tocamiento", "BP7_1_tpo_ofen_exhib",
            "BP7_1_tpo_ofen_otra","BP7_1_tpo_ofen_no_sabe","BP7_1_NA_tpo_ofen_NA", "BP7_1_nan_tpo_ofen_nan"]
            
cols_eliminar=['BPCOD_Tipo_delito','Tpo_delito_nan','BP1_delito_no_sabe','BP1_delito_nan','BP1_4_No_sabe_no_responde','BP1_4_No_sabe_no_responde_NAN','BP1_5_otro','BP1_5_no_sabe','BP1_5_nan','BP1_8_9','BP1_8_nan',
               "BP1_9_1_num_delin_9","BP1_9_1_num_delin_9_nan","BP7_1_tpo_ofen_otra","BP7_1_tpo_ofen_no_sabe","BP7_1_NA_tpo_ofen_NA", "BP7_1_nan_tpo_ofen_nan"]

TMod_VF_2.columns=names_cols
TMod_VF_3=TMod_VF_2.drop(cols_eliminar,axis=1)
TMod_VF_3

,ID_VIV,ID_HOG,ID_PER,Tpo_delito_13.0,Tpo_delito_14.0,BP1_delito_Ene,BP1_delito_Feb,BP1_delito_mar,BP1_delito_abr,BP1_delito_may,...,BP1_9_1_num_delin_1,BP1_9_1_num_delin_2,BP1_9_1_num_delin_3,BP1_9_1_num_delin_4,BP1_9_1_num_delin_5,BP1_9_1_num_delin_6,BP7_1_tpo_ofensa_int_viola,BP7_1_tpo_ofen_hostig,BP7_1_tpo_ofen_tocamiento,BP7_1_tpo_ofen_exhib
0,100154.05,0100154.05.01,0100154.05.01.02,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,100186.05,0100186.05.01,0100186.05.01.11,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,100211.05,0100211.05.02,0100211.05.02.01,1,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
3,100215.04,0100215.04.01,0100215.04.01.02,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
4,100220.02,0100220.02.01,0100220.02.01.03,2,0,0,0,0,0,1,...,2,0,0,0,0,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,3200916.02,3200916.02.01,3200916.02.01.03,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
762,3200982.05,3200982.05.01,3200982.05.01.02,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
763,3201079.02,3201079.02.02,3201079.02.02.01,3,0,0,0,0,0,1,...,3,0,0,0,0,0,0,3,0,0
764,3201613.10,3201613.10.01,3201613.10.01.03,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
765,3201929.01,3201929.01.01,3201929.01.01.02,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [18]:

cols_vic_tot=['ID_VIV', 'ID_HOG', 'ID_PER','SEXO','EDAD',	'AREAM',	'CVE_ENT',	'NOM_ENT',	'CVE_MUN'	,'NOM_MUN']
VicTot_f=pd.merge(TMod_VF_3,VicTot[cols_vic_tot],how='left',left_on=['ID_VIV',	'ID_HOG',	'ID_PER'],right_on=['ID_VIV',	'ID_HOG',	'ID_PER'])
VicTot_f   #tabla con personas únicas con variables finales

,ID_VIV,ID_HOG,ID_PER,Tpo_delito_13.0,Tpo_delito_14.0,BP1_delito_Ene,BP1_delito_Feb,BP1_delito_mar,BP1_delito_abr,BP1_delito_may,...,BP7_1_tpo_ofen_hostig,BP7_1_tpo_ofen_tocamiento,BP7_1_tpo_ofen_exhib,SEXO,EDAD,AREAM,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN
0,100154.05,0100154.05.01,0100154.05.01.02,1,0,0,0,0,0,0,...,1,0,0,1,38,14,1,Aguascalientes,1,Aguascalientes
1,100186.05,0100186.05.01,0100186.05.01.11,1,0,0,0,0,0,0,...,0,1,0,2,32,14,1,Aguascalientes,1,Aguascalientes
2,100211.05,0100211.05.02,0100211.05.02.01,1,0,0,0,1,0,0,...,1,0,0,2,29,14,1,Aguascalientes,1,Aguascalientes
3,100215.04,0100215.04.01,0100215.04.01.02,1,0,0,0,0,0,0,...,1,0,0,2,28,14,1,Aguascalientes,1,Aguascalientes
4,100220.02,0100220.02.01,0100220.02.01.03,2,0,0,0,0,0,1,...,2,0,0,2,24,14,1,Aguascalientes,1,Aguascalientes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,3200916.02,3200916.02.01,3200916.02.01.03,1,0,0,0,0,0,0,...,1,0,0,2,20,32,32,Zacatecas,56,Zacatecas
762,3200982.05,3200982.05.01,3200982.05.01.02,1,0,0,0,0,0,0,...,1,0,0,2,43,32,32,Zacatecas,56,Zacatecas
763,3201079.02,3201079.02.02,3201079.02.02.01,3,0,0,0,0,0,1,...,3,0,0,2,29,32,32,Zacatecas,56,Zacatecas
764,3201613.10,3201613.10.01,3201613.10.01.03,1,0,0,1,0,0,0,...,1,0,0,2,22,NA,32,Zacatecas,42,Sombrerete
765,3201929.01,3201929.01.01,3201929.01.01.02,1,0,0,0,0,0,0,...,0,1,0,2,30,NA,32,Zacatecas,14,General Francisco R. Murguia

In [19]:
VicTot_f['EDAD_SEG'] = [ 'Adulto_mayor' if x>=60 else ('Adulto_joven' if x<=30 else 'adulto')for x in VicTot_f['EDAD']]
VicTot_f

,ID_VIV,ID_HOG,ID_PER,Tpo_delito_13.0,Tpo_delito_14.0,BP1_delito_Ene,BP1_delito_Feb,BP1_delito_mar,BP1_delito_abr,BP1_delito_may,...,BP7_1_tpo_ofen_tocamiento,BP7_1_tpo_ofen_exhib,SEXO,EDAD,AREAM,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,EDAD_SEG
0,100154.05,0100154.05.01,0100154.05.01.02,1,0,0,0,0,0,0,...,0,0,1,38,14,1,Aguascalientes,1,Aguascalientes,adulto
1,100186.05,0100186.05.01,0100186.05.01.11,1,0,0,0,0,0,0,...,1,0,2,32,14,1,Aguascalientes,1,Aguascalientes,adulto
2,100211.05,0100211.05.02,0100211.05.02.01,1,0,0,0,1,0,0,...,0,0,2,29,14,1,Aguascalientes,1,Aguascalientes,Adulto_joven
3,100215.04,0100215.04.01,0100215.04.01.02,1,0,0,0,0,0,0,...,0,0,2,28,14,1,Aguascalientes,1,Aguascalientes,Adulto_joven
4,100220.02,0100220.02.01,0100220.02.01.03,2,0,0,0,0,0,1,...,0,0,2,24,14,1,Aguascalientes,1,Aguascalientes,Adulto_joven
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,3200916.02,3200916.02.01,3200916.02.01.03,1,0,0,0,0,0,0,...,0,0,2,20,32,32,Zacatecas,56,Zacatecas,Adulto_joven
762,3200982.05,3200982.05.01,3200982.05.01.02,1,0,0,0,0,0,0,...,0,0,2,43,32,32,Zacatecas,56,Zacatecas,adulto
763,3201079.02,3201079.02.02,3201079.02.02.01,3,0,0,0,0,0,1,...,0,0,2,29,32,32,Zacatecas,56,Zacatecas,Adulto_joven
764,3201613.10,3201613.10.01,3201613.10.01.03,1,0,0,1,0,0,0,...,0,0,2,22,NA,32,Zacatecas,42,Sombrerete,Adulto_joven
765,3201929.01,3201929.01.01,3201929.01.01.02,1,0,0,0,0,0,0,...,1,0,2,30,NA,32,Zacatecas,14,General Francisco R. Murguia,Adulto_joven

In [21]:
#Sexo = 2 : Mujer
#sexo = 1: Hombre

d1 = pd.get_dummies(VicTot_f['SEXO'],dummy_na=False,prefix='sexo')
d2 = pd.get_dummies(VicTot_f['EDAD_SEG'],dummy_na=False,prefix='EDAD_SEG')
tab1 = VicTot_f.drop(['ID_VIV','EDAD_SEG', 'ID_HOG','NOM_MUN', 'ID_PER','AREAM', 'CVE_ENT','CVE_MUN','SEXO', 'EDAD'],axis = 1)
deefe = pd.concat([tab1,d1,d2], axis =1) 
data_f =deefe.groupby(['NOM_ENT']).agg(['sum'],axis=0)
data_f = data_f.reset_index()
data_f.columns = data_f.columns.droplevel(1)
data_f.head(3)

,NOM_ENT,Tpo_delito_13.0,Tpo_delito_14.0,BP1_delito_Ene,BP1_delito_Feb,BP1_delito_mar,BP1_delito_abr,BP1_delito_may,BP1_delito_jun,BP1_delito_Jul,...,BP1_9_1_num_delin_6,BP7_1_tpo_ofensa_int_viola,BP7_1_tpo_ofen_hostig,BP7_1_tpo_ofen_tocamiento,BP7_1_tpo_ofen_exhib,sexo_1,sexo_2,EDAD_SEG_Adulto_joven,EDAD_SEG_Adulto_mayor,EDAD_SEG_adulto
0,Aguascalientes,29,3,3,1,3,1,3,1,2,...,0,0,22,6,1,4,21,17,1,7
1,Baja California,24,4,0,1,1,2,3,4,1,...,0,4,6,13,1,2,15,11,1,5
2,Baja California Sur,22,3,0,3,1,2,2,3,2,...,0,2,15,4,1,2,16,11,0,7

In [25]:
#pegar poblacion entrevistada por municipio
nom_muni = data_f['NOM_ENT']
data_mds = pd.merge(data_f,pop_edo,how = 'left',left_on = 'NOM_ENT',right_on="NOM_ENT")  
data_mds_ = data_mds.drop("NOM_ENT",axis = 1)
data_mds_.head()

,Tpo_delito_13.0,Tpo_delito_14.0,BP1_delito_Ene,BP1_delito_Feb,BP1_delito_mar,BP1_delito_abr,BP1_delito_may,BP1_delito_jun,BP1_delito_Jul,BP1_delito_Ago,...,BP7_1_tpo_ofensa_int_viola,BP7_1_tpo_ofen_hostig,BP7_1_tpo_ofen_tocamiento,BP7_1_tpo_ofen_exhib,sexo_1,sexo_2,EDAD_SEG_Adulto_joven,EDAD_SEG_Adulto_mayor,EDAD_SEG_adulto,0
0,29,3,3,1,3,1,3,1,2,3,...,0,22,6,1,4,21,17,1,7,1790
1,24,4,0,1,1,2,3,4,1,3,...,4,6,13,1,2,15,11,1,5,2628
2,22,3,0,3,1,2,2,3,2,2,...,2,15,4,1,2,16,11,0,7,2679
3,15,4,0,2,1,1,1,0,1,2,...,3,6,5,0,3,11,8,0,6,2292
4,31,2,4,1,3,1,3,2,4,1,...,4,12,12,3,3,19,16,1,5,3631

In [27]:
data_mds_f = data_mds_.div(data_mds_.iloc[:,42],axis = 'index')
data_mds_ff = pd.concat([nom_muni,data_mds_f], axis = 1)
data_mds_ff.shape

(32, 44)

In [28]:
# Creación DataFrame:
df_numeros = pd.DataFrame(data_mds_ff)
# Guarda datos en CSV:
df_numeros.to_csv(r'C:\Users\Documents\DATA_JAM\MEXICO\data_mds_ff_edo.csv', header=True, index=False)